/* Add application styles & imports to this file! */
#main {
  padding: 40px;
  text-align: center;
  width: 95%;
  background-color: rgb(140, 150, 160);
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid  rgb(187, 248, 238);
  }




h1 {
  text-align: center;
  font-family: corbel;
  text-transform: uppercase;
  font-size: 30px;
  font-weight:normal;
  letter-spacing: 4px;
}


h3 {
  font-family: rockwell;
  color: rgb(182, 248, 237);
  font-size: 40px;
}

h3, .byline {
  display: inline;
  margin-right: 300px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: whitesmoke;
   font-size: 50px;
  font-weight: 600;
  text-align: center;
  font-family: Georgia;
 }

h6 {
    font-family: rockwell;
  color: whitesmoke;
  font-size: 14px;
}


p {
  font-family: corbel;
  font-size: 16;
  overflow: auto;
  font-weight: bold;
  border-bottom: 1px solid LightGrey;
  border-spacing: 100px;
  padding-bottom: 25px;
}

p2 {
  font-family: corbel;
  font-size: 16;
  overflow: auto;
  margin-right: 0%;
  padding-right: 0px;
  margin-left: 45%;
  float: left;
  width: 100%;
  padding-left: 25px;
}

p3 {
 margin-left: 0%;
 font-size: 17px;
 font-family: corbel;
 float: center;
}

p7 {
 
 font-size: 17px;
 font-family: corbel;
 float: center;
}

p4 {
 
 font-size: 16px;
 font-family: corbel;
}

p6 {
  text-align: center;
  font-family: corbel;
  text-transform: uppercase;
  font-size: 30px;
  font-weight:normal;
  letter-spacing: 4px;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid LightGrey;
  padding: 16px;
  font-family: rockwell;
  float: left;
  width: 27%;
  margin-right: 40px;
  background-color: rgba(235, 243, 243, 0.774);
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

.row {  

  background: rgb(243, 241, 241);
  padding: 16px;
  font-family: rockwell;
  float: left;
  width: 40%;
  margin-right: 40px;
}

nav2 {
  margin-top: 0px;
  padding: 16px;
  font-family: rockwell;
  float: left;
  width: 40%;
  margin-right: 40px;
  border-right: 1px solid LightGrey;
}

.mobile-bottom-bar {
  width: 100%;
  height: 2.0rem;
  background-color: rgb(187, 248, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}



  
  

